@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
}

body {
    font-family: 'Fredoka', sans-serif;
    background: #f0fff4;
    text-align: center;
    padding-top: 100px;
}

.result {
    background: white;
    display: inline-block;
    padding: 30px;
    border-radius: 15px;
}
