body {
    font-family: Arial;
    background: #f0fff4;
    text-align: center;
    padding-top: 100px;
}

.result {
    background: white;
    display: inline-block;
    padding: 30px;
    border-radius: 15px;
}
