@font-face {
    font-family: 'Dimis';
    src: url('/fonts/DIMIS___.TTF') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: 400;
}

body {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
    background: #000;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
    background: rgba(0,0,0,0.4);
}

.logo {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-links a,
.auth-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.2s;
}

.nav-links a:hover,
.auth-links a:hover {
    color: #ff5c8a;
}

.welcome-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    text-align: center;
}

.content h1 {
    font-family: 'Dimis', sans-serif;
    font-size: 75px;
    margin: 0;
}

.content p {
    font-family: 'Fredoka', sans-serif;
    font-size: 40px;
    margin-top: 10px;
    color: #f5f5f5;
}

.content h1:hover {
    color: #ffa250;
    transform: translateY(-4px);
    transition: color 0.3s, transform 0.3s;
}

.content p:hover {
    color: #ffa250;
    transform: translateY(-2px);
    transition: color 0.3s, transform 0.3s;
}

.buttons {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;

}

.btn {
    padding: 12px 25px;
    border-radius: 12px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.btn-primary {
    background: #fcab41;
    color: white;
}

.btn-outline {
    border: 2px solid #000000;
    color: #fcab41;
    background: transparent;
}

.btn:hover {
    transform: translateY(-5px);
}

.btn-outline:hover {
    background: #fcab41;
    color: white;

}

/* BUTTON BASE */
/* From Uiverse.io by MuhammadHasann */
button {
  position: relative;
  padding: 12px 35px;
  background: #fec195;
  font-family: 'Fredoka', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #181818;
  border: 3px solid #fec195;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.star-btn {
  transition: transform 0.25s ease;
}

.star-btn:hover {
  transform: translateY(-6px); /* konting taas lang */
}

.fil0 {
  fill: #fffdef;
}



